/* ==========================================================================
   My attempt at a hover dictionary
   ========================================================================== */

.dict-trigger{
    color: navy;
    position: relative;
    display: inline-block;
}

.dict-tooltip{
    display: none;
}

.dict-trigger:hover .dict-tooltip{
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: .75em;
    padding: 5px;
    z-index: 600;
    display: inline-block;
    position: absolute;
    width: 160px;
    bottom: .75em;
}
